In [1]:
import os
os.chdir("C:\\Users\\Adhvaidh\\Desktop\\ML DATASETS")
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv(r'titanic.csv', index_col='PassengerId')

In [3]:
df.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
df = df[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Survived']]

In [5]:
df['Sex'] = df['Sex'].map({'male': 0, 'female': 1})

In [6]:
df = df.dropna()

In [8]:
X = df.drop('Survived', axis=1)
y = df['Survived']

In [9]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [10]:
from sklearn import tree

model = tree.DecisionTreeClassifier()

In [11]:
model.fit(X_train, y_train)

y_predict = model.predict(X_test)

from sklearn.metrics import accuracy_score

accuracy_score(y_test, y_predict)

0.8212290502793296

In [12]:
from sklearn.metrics import confusion_matrix

pd.DataFrame(confusion_matrix(y_test, y_predict),columns=['Predicted Not Survival', 'Predicted Survival'],index=['True Not Survival', 'True Survival'])

                   Predicted Not Survival  Predicted Survival
True Not Survival                      97                  15
True Survival                          17                  50

# Random Forest

In [41]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(criterion = 'gini',
                               n_estimators = 15,
                               random_state = 1)

model.fit(X_train, y_train)
y_predict = model.predict(X_test)

from sklearn.metrics import accuracy_score

print (accuracy_score(y_test, y_predict))

0.8491620111731844