# K Nearest Neighbors

kNN is one of the simplest of classification algorithms available for supervised learning. The idea is to search for closest match of the test data in feature space. 

<img src='images/knn_theory.png' />

In [1]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import os
# change working directory where data and code is present
os.chdir("D:\Imarticus\ML-Repeat\ML_oct10")

## Data loading & Understanding

In [3]:
# Importing the dataset
## read Social_Network_Ads in dataset variable
ds=pd.read_csv("Social_Network_Ads.csv")

In [4]:
## Analyse the data
## some basic EDA
ds.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [5]:
ds.isnull().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [7]:
print(ds.info())
print(ds.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
User ID            400 non-null int64
Gender             400 non-null object
Age                400 non-null int64
EstimatedSalary    400 non-null int64
Purchased          400 non-null int64
dtypes: int64(4), object(1)
memory usage: 15.7+ KB
None
            User ID         Age  EstimatedSalary   Purchased
count  4.000000e+02  400.000000       400.000000  400.000000
mean   1.569154e+07   37.655000     69742.500000    0.357500
std    7.165832e+04   10.482877     34096.960282    0.479864
min    1.556669e+07   18.000000     15000.000000    0.000000
25%    1.562676e+07   29.750000     43000.000000    0.000000
50%    1.569434e+07   37.000000     70000.000000    0.000000
75%    1.575036e+07   46.000000     88000.000000    1.000000
max    1.581524e+07   60.000000    150000.000000    1.000000

In [8]:
gender = pd.get_dummies(ds['Gender'],drop_first=True)
gender.head()

   Male
0     1
1     1
2     0
3     0
4     1

In [9]:
ds.drop(['User ID','Gender'],axis=1,inplace=True)
ds.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

In [10]:
ds=pd.concat([ds,gender], axis=1)
ds.head()

   Age  EstimatedSalary  Purchased  Male
0   19            19000          0     1
1   35            20000          0     1
2   26            43000          0     0
3   27            57000          0     0
4   19            76000          0     1

In [14]:
g=ds.iloc[:,0:2].values

In [16]:
from sklearn.preprocessing import StandardScaler
sc_g=StandardScaler()
g=sc_g.fit_transform(g)

In [19]:
g=pd.DataFrame(g)

In [18]:
ds.drop(['Age','EstimatedSalary'],axis=1,inplace=True)
ds.head()

   Purchased  Male
0          0     1
1          0     1
2          0     0
3          0     0
4          0     1

In [24]:
x=pd.concat([g,gender],axis=1)
x.head()

          0         1  Male
0 -1.781797 -1.490046     1
1 -0.253587 -1.460681     1
2 -1.113206 -0.785290     0
3 -1.017692 -0.374182     0
4 -1.781797  0.183751     1

In [27]:
### taking independent and dependent variables seperately in X and y
y=ds['Purchased']
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Purchased, dtype: int64

## Spliting dataset into training and testing

In [28]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split

In [29]:
# split train and test data with test_size = .1
x_train, x_test, y_train, y_test= train_test_split(x,y,test_size=0.1, random_state=123)

In [6]:
# check few values of train and test

# K Nearest Neighbors

In [30]:
# Fitting K-NN to the Training set
from sklearn.neighbors import KNeighborsClassifier

In [31]:
## initiate knn class with 4 nearest neighbours 
knn=KNeighborsClassifier(n_neighbors=5)

In [32]:
# fit the knn class on train data
knn.fit(x_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [33]:
# Predicting the Test set results
y_test_pred = knn.predict(x_test)## write code to predict on test data

## Accuracy

In [34]:
# Training accuracy
knn.score(x_train, y_train)

0.9305555555555556

In [13]:
# Testing accuracy
# write code to score test accuracy

## Confusion Matrix

In [35]:
# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_test_pred)

In [36]:
## check confusion matrix
cm

array([[24,  6],
       [ 3,  7]], dtype=int64)

In [14]:
## create classification report
from sklearn.metrics import classification_report