In [1]:
import os
os.chdir("C:\\Users\\Adhvaidh\\Desktop\\DSP 19\\python DSP\\DSP datasets - python")
%matplotlib inline
import numpy as np
import pandas as pd

In [3]:
ds=pd.read_csv("titanic.csv", index_col='PassengerId')

In [4]:
ds.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
pd.DataFrame(ds).isnull().sum()

Survived      0
Pclass        0
Name          0
Sex           0
Age         177
SibSp         0
Parch         0
Ticket        0
Fare          0
Cabin       687
Embarked      2
dtype: int64

In [10]:
df =ds[['Pclass','Sex','Age','SibSp','Parch','Fare','Survived']]

In [11]:
df['Sex']=df['Sex'].map({'male':0,'female':1})

In [ ]:
df=df.dropna()

In [12]:
x=df.drop('Survived',axis=1)
y=df['Survived']

In [13]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test= train_test_split(x,y,test_size=0.2,random_state=1)

In [19]:
from sklearn import tree
mod1=tree.DecisionTreeClassifier()

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').