In [1]:
import numpy as np
import pandas as pd
import os
aisles=pd.read_csv('D:/Imarticus/DL Capstone project/Capstone-ML/ProjectandDataSets/Project and Data Sets/Data/aisles.csv')
order_prior=pd.read_csv('D:\\Imarticus\\DL Capstone project\\Capstone-ML\\ProjectandDataSets\\Project and Data Sets\\Data\\order_products_prior.csv')
order_train=pd.read_csv('D:/Imarticus/DL Capstone project/Capstone-ML/ProjectandDataSets/Project and Data Sets/Data/order_products_train.csv')
order_test=pd.read_csv('D:/Imarticus/DL Capstone project/Capstone-ML/ProjectandDataSets/Project and Data Sets/Data/order_products_test.csv')
orders=pd.read_csv('D:/Imarticus/DL Capstone project/Capstone-ML/ProjectandDataSets/Project and Data Sets/Data/orders.csv')
products=pd.read_csv('D:/Imarticus/DL Capstone project/Capstone-ML/ProjectandDataSets/Project and Data Sets/Data/products.csv')

In [2]:
#Question_1

In [2]:
orders.head()

,Unnamed: 0,days_since_prior_order,eval_set,order_dow,order_hour_of_day,order_id,order_number,user_id
0,0,NaN,prior,2,8,2539329,1,1
1,1,15.0,prior,3,7,2398795,2,1
2,2,21.0,prior,3,12,473747,3,1
3,3,29.0,prior,4,7,2254736,4,1
4,4,28.0,prior,4,15,431534,5,1

In [3]:
orders['order_dow'].value_counts() [:1]

0    184042
Name: order_dow, dtype: int64

In [4]:
orders['order_hour_of_day'].value_counts()[:1]

10    88561
Name: order_hour_of_day, dtype: int64

In [5]:
dow_hour=pd.DataFrame()
dow_hour['hour']=orders['order_hour_of_day']
dow_hour['dow']=orders['order_dow']
dow_hour.value_counts()[:1]

hour  dow
10    1      16869
dtype: int64

In [6]:
#Question 2:

In [7]:
order_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [8]:
order_prior.columns

Index(['order_id', 'product_id', 'add_to_cart_order', 'reordered'], dtype='object')

In [9]:
no_of_reorders=order_prior.reordered[order_prior['reordered']==1].value_counts()

In [10]:
print("The number of reorders =",no_of_reorders[1])

The number of reorders = 19126536

In [11]:
top5orders=order_prior.product_id[order_prior['reordered']==0][:5].value_counts()

In [12]:
print("The 5 products that are ordered =\nProductId Ordered\n",top5orders)

The 5 products that are ordered =
ProductId Ordered
 9327     1
43668    1
30035    1
46842    1
47209    1
Name: product_id, dtype: int64

In [13]:
top5reorders=order_prior.product_id[order_prior['reordered']==1][:5].value_counts()

In [14]:
print("The 5 products that are reordered =\nProductId Re-ordered\n",top5reorders)

The 5 products that are reordered =
ProductId Re-ordered
 45918    1
40141    1
17794    1
28985    1
33120    1
Name: product_id, dtype: int64

In [1]:
#Question 3

In [15]:
products.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [16]:
order_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [17]:
order_prior.shape

(32434489, 4)

### In 'products' dataframe, we can see that the product_id is in ascending order. So to find re-order ratio department wise, we can consider the product id (in Products dataframe) as index

In [18]:
products.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [19]:
products.shape

(49688, 4)

In [29]:
order_prior.groupby(['product_id'])['reordered'].value_counts()

product_id  reordered
1           1            1136
            0             716
2           0              78
            1              12
3           1             203
                         ...
49686       0              36
49687       0               7
            1               6
49688       0              74
            1              15
Name: reordered, Length: 94982, dtype: int64

In [26]:
products.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [27]:
products.department_id[2-1] #department_id index = ('product_id' - 1)

13

In [30]:
products.department_id[order_prior.product_id-1].value_counts()

4     9479291
16    5414016
19    2887550
7     2690129
1     2236432
13    1875577
3     1176787
15    1068058
20    1051249
9      866627
17     738666
14     709569
12     708931
11     447123
18     423802
6      269253
5      153696
8       97724
21      69145
2       36291
10      34573
Name: department_id, dtype: int64

In [40]:
order_reord_1=order_prior[order_prior['reordered']==1]

In [41]:
order_reord_0=order_prior[order_prior['reordered']==0]

In [42]:
order_reord_1.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
3         2       45918                  4          1
5         2       17794                  6          1
6         2       40141                  7          1

In [43]:
products.department_id[order_reord_1.product_id-1].value_counts()

4     6160710
16    3627221
7     1757892
19    1657973
1     1211890
3      739188
13     650301
20     638864
15     488535
12     402442
9      399581
14     398013
17     297075
18     245369
11     143584
6       99416
5       87595
8       58760
21      27371
10      19950
2       14806
Name: department_id, dtype: int64

In [44]:
products.department_id[order_reord_0.product_id-1].value_counts()

4     3318581
16    1786795
19    1229577
13    1225276
1     1024542
7      932237
15     579523
9      467046
17     441591
3      437599
20     412385
14     311556
12     306489
11     303539
18     178433
6      169837
5       66101
21      41774
8       38964
2       21485
10      14623
Name: department_id, dtype: int64

In [45]:
reorder_ratio=(products.department_id[order_reord_1.product_id-1].value_counts())/(products.department_id[order_prior.product_id-1].value_counts())

In [46]:
order_ratio=(products.department_id[order_reord_0.product_id-1].value_counts())/(products.department_id[order_prior.product_id-1].value_counts())

In [47]:
ratio=pd.DataFrame()
ratio['Reorder ratio']=reorder_ratio[:,]
ratio['Order ratio']=order_ratio[:,]
ratio.head()

   Reorder ratio  Order ratio
1       0.541885     0.458115
2       0.407980     0.592020
3       0.628141     0.371859
4       0.649913     0.350087
5       0.569924     0.430076

In [48]:
ratio.index.name='Department ID'

In [49]:
ratio

               Reorder ratio  Order ratio
Department ID
1                   0.541885     0.458115
2                   0.407980     0.592020
3                   0.628141     0.371859
4                   0.649913     0.350087
5                   0.569924     0.430076
6                   0.369229     0.630771
7                   0.653460     0.346540
8                   0.601285     0.398715
9                   0.461076     0.538924
10                  0.577040     0.422960
11                  0.321129     0.678871
12                  0.567674     0.432326
13                  0.346721     0.653279
14                  0.560922     0.439078
15                  0.457405     0.542595
16                  0.669969     0.330031
17                  0.402178     0.597822
18                  0.578971     0.421029
19                  0.574180     0.425820
20                  0.607719     0.392281
21                  0.395849     0.604151

In [51]:
#Question 4:

In [68]:
order_test=pd.read_csv('D:/Imarticus/DL Capstone project/Capstone-ML/ProjectandDataSets/Project and Data Sets/Data/order_products_test.csv')

In [69]:
order_train=pd.read_csv('D:/Imarticus/DL Capstone project/Capstone-ML/ProjectandDataSets/Project and Data Sets/Data/order_products_train.csv')

In [56]:
order_train.head()

   Unnamed: 0  order_id  product_id  add_to_cart_order  reordered
0           8        36       39612                  1          0
1           9        36       19660                  2          1
2          10        36       49235                  3          0
3          11        36       43086                  4          1
4          12        36       46620                  5          1

In [57]:
order_train.describe()

,Unnamed: 0,order_id,product_id,add_to_cart_order,reordered
count,1.068168e+06,1.068168e+06,1.068168e+06,1.068168e+06,1.068168e+06
mean,6.915780e+05,1.704497e+06,2.556066e+04,8.761039e+00,5.986193e-01
std,3.999804e+05,9.904106e+05,1.412115e+04,7.421443e+00,4.901780e-01
min,8.000000e+00,3.600000e+01,1.000000e+00,1.000000e+00,0.000000e+00
25%,3.446238e+05,8.394910e+05,1.338000e+04,3.000000e+00,0.000000e+00
50%,6.911765e+05,1.699145e+06,2.531600e+04,7.000000e+00,1.000000e+00
75%,1.038585e+06,2.568345e+06,3.794700e+04,1.200000e+01,1.000000e+00
max,1.384616e+06,3.421070e+06,4.968800e+04,8.000000e+01,1.000000e+00

In [58]:
order_train.isnull().sum()

Unnamed: 0           0
order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

In [59]:
order_test.isnull().sum()

Unnamed: 0           0
order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

In [60]:
X=order_train.drop('reordered', axis=1)
y=order_train['reordered']

In [61]:
X.head()

   Unnamed: 0  order_id  product_id  add_to_cart_order
0           8        36       39612                  1
1           9        36       19660                  2
2          10        36       49235                  3
3          11        36       43086                  4
4          12        36       46620                  5

In [62]:
from sklearn.preprocessing import StandardScaler

sc_unnamed=StandardScaler()
X['Unnamed: 0']=sc_unnamed.fit_transform(X[['Unnamed: 0']])
order_test['Unnamed: 0']=sc_unnamed.fit_transform(order_test[['Unnamed: 0']])

sc_pid=StandardScaler()
X.product_id=sc_pid.fit_transform(X[['product_id']])
order_test.product_id=sc_pid.fit_transform(order_test[['product_id']])

sc_oid=StandardScaler()
X.order_id=sc_oid.fit_transform(X[['order_id']])
order_test.order_id=sc_oid.fit_transform(order_test[['order_id']])

sc_addc=StandardScaler()
X.add_to_cart_order=sc_addc.fit_transform(X[['add_to_cart_order']])
order_test.add_to_cart_order=sc_addc.fit_transform(order_test[['add_to_cart_order']])

In [63]:
X.head()

   Unnamed: 0  order_id  product_id  add_to_cart_order
0   -1.729010 -1.720964    0.995057          -1.045759
1   -1.729008 -1.720964   -0.417860          -0.911014
2   -1.729005 -1.720964    1.676518          -0.776270
3   -1.729003 -1.720964    1.241072          -0.641525
4   -1.729000 -1.720964    1.491335          -0.506780

In [64]:
from sklearn.model_selection import train_test_split

X_train, X_valid, y_train, y_valid = train_test_split(X, y,test_size = 0.25, random_state = 123)

In [155]:
from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import cross_val_score
from keras.models import Sequential # initialize neural network library
from keras.layers import Dense # build our layers library

In [158]:
def build_classifier():
    classifier = Sequential() # initialize neural network
    classifier.add(Dense(units = 8, kernel_initializer = 'uniform', activation = 'relu', input_dim = X.shape[1]))
    classifier.add(Dense(units = 8, kernel_initializer = 'uniform', activation = 'relu'))
    classifier.add(Dense(units = 1, kernel_initializer = 'uniform', activation = 'sigmoid'))
    classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])
    return classifier
classifier = KerasClassifier(build_fn = build_classifier, epochs = 10,batch_size=10)
accuracies = cross_val_score(estimator = classifier, X = X, y = y, cv = 3)
mean = accuracies.mean()
variance = accuracies.std()
print("Accuracy mean: "+ str(mean))
print("Accuracy variance: "+ str(variance))

Epoch 1/10
71212/71212 [==============================] - 48s 669us/step - loss: 0.6615 - accuracy: 0.6053
Epoch 2/10
71212/71212 [==============================] - 48s 672us/step - loss: 0.6603 - accuracy: 0.6073
Epoch 3/10
71212/71212 [==============================] - 50s 700us/step - loss: 0.6606 - accuracy: 0.6054
Epoch 4/10
71212/71212 [==============================] - 52s 724us/step - loss: 0.6602 - accuracy: 0.6063
Epoch 5/10
71212/71212 [==============================] - 60s 843us/step - loss: 0.6599 - accuracy: 0.6071
Epoch 6/10
71212/71212 [==============================] - 63s 886us/step - loss: 0.6601 - accuracy: 0.6065
Epoch 7/10
71212/71212 [==============================] - 53s 741us/step - loss: 0.6597 - accuracy: 0.6075
Epoch 8/10
71212/71212 [==============================] - 52s 737us/step - loss: 0.6601 - accuracy: 0.6065
Epoch 9/10
71212/71212 [==============================] - 52s 724us/step - loss: 0.6596 - accuracy: 0.6072
Epoch 10/10
71212/71212 [==============================] - 53s 741us/step - loss: 0.6597 - accuracy: 0.6071s - loss: 0.6597 - ac
35606/35606 [==============================] - 21s 596us/step - loss: 0.6616 - accuracy: 0.6031
Epoch 1/10
71212/71212 [==============================] - 54s 749us/step - loss: 0.6628 - accuracy: 0.6021
Epoch 2/10
71212/71212 [==============================] - 59s 833us/step - loss: 0.6610 - accuracy: 0.6049
Epoch 3/10
71212/71212 [==============================] - 54s 753us/step - loss: 0.6613 - accuracy: 0.6044
Epoch 4/10
71212/71212 [==============================] - 53s 744us/step - loss: 0.6624 - accuracy: 0.6037
Epoch 5/10
71212/71212 [==============================] - 52s 737us/step - loss: 0.6605 - accuracy: 0.6068
Epoch 6/10
71212/71212 [==============================] - 54s 758us/step - loss: 0.6605 - accuracy: 0.6062
Epoch 7/10
71212/71212 [==============================] - 54s 758us/step - loss: 0.6610 - accuracy: 0.6045
Epoch 8/10
71212/71212 [==============================] - 53s 741us/step - loss: 0.6612 - accuracy: 0.6047
Epoch 9/10
71212/71212 [==============================] - 53s 741us/step - loss: 0.6609 - accuracy: 0.6048
Epoch 10/10
71212/71212 [==============================] - 54s 752us/step - loss: 0.6610 - accuracy: 0.6044
35606/35606 [==============================] - 21s 596us/step - loss: 0.6598 - accuracy: 0.6066
Epoch 1/10
71212/71212 [==============================] - 54s 746us/step - loss: 0.6625 - accuracy: 0.6033
Epoch 2/10
71212/71212 [==============================] - 54s 753us/step - loss: 0.6613 - accuracy: 0.6044
Epoch 3/10
71212/71212 [==============================] - 54s 756us/step - loss: 0.6606 - accuracy: 0.6051
Epoch 4/10
71212/71212 [==============================] - 52s 737us/step - loss: 0.6614 - accuracy: 0.6042
Epoch 5/10
71212/71212 [==============================] - 53s 746us/step - loss: 0.6605 - accuracy: 0.6049
Epoch 6/10
71212/71212 [==============================] - 53s 749us/step - loss: 0.6604 - accuracy: 0.6047
Epoch 7/10
71212/71212 [==============================] - 53s 750us/step - loss: 0.6598 - accuracy: 0.6058
Epoch 8/10
71212/71212 [==============================] - 53s 747us/step - loss: 0.6602 - accuracy: 0.6048
Epoch 9/10
71212/71212 [==============================] - 53s 745us/step - loss: 0.6603 - accuracy: 0.6048
Epoch 10/10
71212/71212 [==============================] - 52s 733us/step - loss: 0.6603 - accuracy: 0.6049
35606/35606 [==============================] - 21s 591us/step - loss: 0.6598 - accuracy: 0.6073
Accuracy mean: 0.6056687633196512
Accuracy variance: 0.0018321540582049477

In [65]:
from sklearn.linear_model import LogisticRegression
log_model=LogisticRegression()
log_model.fit(X_train,y_train)

LogisticRegression()

In [66]:
y_pred=log_model.predict(X_valid)

In [67]:
from sklearn.metrics import accuracy_score
print ("Logistic testing accuracy is %2.4f" % accuracy_score(y_valid,y_pred))

Logistic testing accuracy is 0.6063

In [81]:
from sklearn import tree,metrics
from sklearn.model_selection import GridSearchCV

param_grid = {'criterion': ['entropy', 'gini'], 'max_depth': [3,4,5,6,7,8,9], 'random_state': [123]} 
grid = GridSearchCV(tree.DecisionTreeClassifier(),param_grid,refit=True,verbose=1)
grid.fit(X_train,y_train)
grid.best_params_

Fitting 5 folds for each of 14 candidates, totalling 70 fits

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done  70 out of  70 | elapsed:  1.2min finished

{'criterion': 'entropy', 'max_depth': 9, 'random_state': 123}

In [82]:
dtree = tree.DecisionTreeClassifier(criterion='gini', max_depth=9, random_state=123)
dtree.fit(X_train, y_train)
y_pred_dtree = dtree.predict(X_valid)
accuracy_dtree = metrics.accuracy_score(y_valid, y_pred_dtree)
accuracy_dtree

0.6068071689097595

In [84]:
from sklearn.model_selection import KFold
cv = KFold(n_splits=20,random_state=0,shuffle=True)

In [85]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(estimator= dtree, X= X_train, y = y_train, scoring = "accuracy", cv=20)                              
scores.mean()

0.6060931722263319

In [ ]:
from sklearn.ensemble import RandomForestClassifier
model_rf = RandomForestClassifier(n_estimators=1000, random_state=0)
model_rf.fit(X_train, y_train)
y_pred_rf = model.predict(X_valid)
accuracy_rf = metrics.accuracy_score(y_valid, y_pred_rf)
accuracy_rf

In [187]:
order_test.head()

   order_id  product_id  add_to_cart_order  reordered
0 -1.734198    1.682566          -1.042463          1
1 -1.734198   -1.021996          -0.907916          1
2 -1.734198   -1.083108          -0.773369          0
3 -1.734198    1.709546          -0.638822          0
4 -1.734198    1.281127          -0.504274          1

In [191]:
X_test=order_test.drop('reordered', axis=1)
y_test=order_test['reordered']

In [192]:
X_test.head()

   order_id  product_id  add_to_cart_order
0 -1.734198    1.682566          -1.042463
1 -1.734198   -1.021996          -0.907916
2 -1.734198   -1.083108          -0.773369
3 -1.734198    1.709546          -0.638822
4 -1.734198    1.281127          -0.504274

In [ ]:
#Therefore, logistic regression!

In [197]:
from sklearn.linear_model import LogisticRegression

model_log=LogisticRegression()
model_log.fit(X,y)

LogisticRegression()

In [198]:
y_pred_test=model_log.predict(X_test)

In [199]:
print("Test accuracy is: ",accuracy_score(y_test,y_pred_test))

Test accuracy is:  0.6047261960063075